@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  width: 120px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  position: relative;
}

.nav-links li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* HERO */
.header-text {
  text-align: center;
  padding: 120px 20px;
}

.header-text h1 {
  font-size: 60px;
}

.header-text span {
  color: #ff004f;
}

.header-text p {
  color: #aaa;
}

/* ABOUT */
.container {
  width: 85%;
  margin: auto;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 60px 0;
}

.about-img img {
  width: 250px;
  border-radius: 15px;
}

.about-content h1 {
  font-size: 36px;
  font-family: "Oswald";
  margin-bottom: 20px;
}

.about-content p {
  color: #ccc;
  line-height: 1.6;
}

.subsection {
  margin-top: 15px;
}

.subsection h3 {
  color: #ff004f;
}

.subsection ul {
  list-style: none;
}

.subsection ul li {
  color: #aaa;
  font-size: 14px;
}

/* SKILLS */
#skills {
  padding: 60px 0;
}

.skills-container {
  text-align: center;
}

.skills-container h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.skill-category {
  margin-bottom: 20px;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background: #ff004f;
  padding: 8px 16px;
  border-radius: 20px;
}

/* PROJECTS */
#projects {
  text-align: center;
  padding: 60px 0;
}

/* CONTACT */
#contact {
  padding: 60px 0;
  text-align: center;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.contact-icon {
  background: #ff004f;
  color: black;
  padding: 12px;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.3s;
}

.contact-icon:hover {
  transform: scale(1.2);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    gap: 20px;
  }
}
